:host {
  contain: content;
  background:
    #171717
    center
    / 4rem
    svg-load('brands/youtube.svg', fill: gray(100))
    no-repeat;
}

iframe {
  size: 100%;
  border: 0;

  &[hidden] {
    display: none;
  }
}
