:host
  contain: content

  display: flex
  align-items: center
  justify-content: flex-end

a
  cursor: pointer
  display: inline-block

  &:not(:first-of-type)
    margin-inline-start: 1rem

  transition: opacity 150ms

  @media (prefers-reduced-motion)
    transition: unset

  &:not(:hover)
    opacity: 0.3

  block-size: 2rem

  &[hidden]
    display: none

@each $icon in github, reddit, patreon, youtube
  .$(icon)
    content: svg-load('brands/$(icon).svg', fill: gray(100))
