@import './link-styles.sss'

:host
  contain: content
  display: block

header
  position: sticky
  inset-block-start: 0
  background-color: gray(0)

  font-size: 1.7rem
  letter-spacing: +0.15ch
  padding-block-end: 0.3rem
